.body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

:root {
    --color-fondo-light: #F5F5F8; /* color de fondo para el modo claro */
    --color-fondo-navbar-light: #F2F1F6; /* color de fondo navbar para el modo claro */
    --color-sombra-navbar-light: rgba(54, 54, 54, 0.1); /* color de sombra navbar para el modo claro */
    --color-texto-light: #363636; /* color de texto para el modo claro */
    --color-texto-link-light: #B460E6; /* color de texto enlaces para el modo claro */

    --color-fondo-dark: #1E1E20; /* color de fondo para el modo oscuro */
    --color-fondo-navbar-dark: ##2A2A2C; /* color de fondo navbar para el modo oscuro */
    --color-sombra-navbar-dark: rgba(255, 255, 255, 0.1); /* color de sombra navbar para el modo oscuro */
    --color-texto-dark: #FFFFFF; /* color de texto para el modo oscuro */
    --color-texto-link-dark: #EA80FC; /* color de texto enlaces para el modo oscuro */

    --background-color: #F5F5F8; /* color de fondo */
    --color-hoover: #9E47E6; /* color de hover */
}

.light {
    background-color: var(--color-fondo-light);
    color: var(--color-texto-light);
}

.dark {
    background-color: var(--color-fondo-dark);
    color: var(--color-texto-dark);
}

.light .header {
    background-color: var(--color-fondo-navbar-light);
    box-shadow: 0 0 10px var(--color-sombra-navbar-light);
    padding: 10px 20px;
}

.light .header nav li a {
    color: var(--color-texto-link-light);
}

.light .homeContainer {
    border: 2px dotted var(--color-texto-link-light);
}

.light .homeContainer span {
    color: var(--color-texto-link-light);
}

.dark .header {
    background-color: var(--color-fondo-navbar-dark);
    box-shadow: 0 0 1px var(--color-sombra-navbar-dark);
    padding: 10px 20px;
}

.dark .header nav li a {
    color: var(--color-texto-link-dark);
}

.dark .homeContainer {
    border: 2px dotted var(--color-texto-link-dark);
}

.dark .homeContainer span {
    color: var(--color-texto-link-dark);
}

.header {
    text-align: center;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 40px;
}

.header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header nav li {
    margin: 20px;
}

.header nav li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.header nav li a:hover {
    color: var(--color-hoover);
}

.toggleTheme {
    border-radius: 100%;
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.toggleTheme img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.homeContainer {
    margin: 70px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    text-align: center;
    box-sizing: border-box;
}

.homeContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.homeContainer p {
    font-size: 1.5rem;
    max-width: 1000px;
    margin-bottom: 20px;
}

.homeContainer span {
    margin-right: 5px;
}

.homeContainer button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.homeContainer button:hover {
    background-color: var(--color-hoover) !important;
}

.light .homeContainer button {
    background-color: var(--color-texto-link-light);
    color: var(--color-texto-light);
}

.dark .homeContainer button {
    background-color: var(--color-texto-link-dark);
    color: var(--color-texto-dark);
}

