/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;  
}

a {
  text-decoration: none;
}